<!DOCTYPE html>
<html lang="en">
<header>
    <%- include('./partials/header'); %>
</header>
<body class="container">
    <main>
        <login>
            <%- include('./partials/meeting-partial'); %>
        </login>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>