<div class="loginPage">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Organizer</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" type="text" placeholder="organizer" readonly>
          </p>
        </div>
      </div>
    </div>
  
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Title</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" type="text" placeholder="Title">
          </p>
        </div>
      </div>
    </div>
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Date</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="date" placeholder="Meeting Date">
          </div>
        </div>
      </div>
    </div>
  
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Ateendees</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="In case of multiple attendees use Pipe | as seperator. Ex: abcd@gmail.com|abcd1@gmail.com">
          </div>
        </div>
      </div>
    </div>
      
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary">
              Edit Meeting
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>