<div class="loginPage" id="loginForm">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Username</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input" name="username" type="text" placeholder="Username">
        </p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Password</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" name="password" type="password" placeholder="password">
        </div>
      </div>
    </div>
  </div>
    
  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary" onclick="signInForm('login', '/signIn', '/VEDmeeting')">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>