<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Organizer</th>
        <th>Title</th>
        <th>Meeting Date</th>
        <th>Attendees</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>38</td>
        <td>23</td>
        <td>12</td>
        <td><a href="/editMeeting">Edit</a></td>
        <td><a href="/deleteMeeting">Delete</a></td>
      </tr>
    </tbody>
  </table>